<mat-toolbar>
    <span routerLink="home" class="title">Blog</span>
    <span class="spacer"></span>
    <button mat-raised-button routerLinkActive="active" color="primary" *ngIf="newPosts == false" routerLink="posts">Ver Publicaciones</button>
    <span class="spacer"></span>
    <button mat-raised-button routerLinkActive="active" color="primary" *ngIf="newPosts == false" routerLink="users">Ver Usuarios</button>
    <span class="spacer"></span>
    <button mat-raised-button color="primary" *ngIf="newPosts == false" (click)="newPost()">Nueva Publicación</button>
    <button mat-raised-button color="primary" *ngIf="newPosts == true" (click)="cancelPost()">Cancelar Publicación</button>
  </mat-toolbar>

  <app-new-post *ngIf="newPosts == true"></app-new-post>